.bodyPersonajes2 {
    background-image: url('https://images5.alphacoders.com/665/thumbbig-665358.webp');
    background-size: cover;
    background-position: center center;
   
    
  }.titulo2{
    color:white;
  }